.title {
  margin: 5rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  height: 60vh;
}

.title>h1 {
  color: white;
  margin: 0;
  font-size: 10vmin;
}

.title>p {
  color: white;
  margin: 0;
  font-size: 30px;
}

.title>img {
  width: 320px;
  height: 320px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 60vmin;
}

.buttons>a>button {
  width: 25vmin;
  height: 6vmin;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
  margin-bottom: 2rem;
}