.container {
  height: auto;
}

.title h1 {
  font-size: 36px;
  font-family: 'Lato', sans-serif;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  background: -webkit-linear-gradient(#eee, #333);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);


  display: block;
  position: relative;
  z-index: 3;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 340vh;
  display: block;
}

.stars {
  background: #000 url(../../images/stars.png) repeat top center;
  z-index: -1;
}

.twinkling {
  background: transparent url(../../images/twinkling.png) repeat top center;
  z-index: -1;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent url(../../images/clouds.png) repeat top center;
  z-index: 1;
  opacity: .4;
  animation: move-clouds-back 200s linear infinite;
}

@media(max-width: 1502px) {

  .stars,
  .twinkling,
  .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 350vh;
    display: block;
  }
}

@media(max-width: 942px) {

  .stars,
  .twinkling,
  .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 360vh;
    display: block;
  }
}

@media(max-width: 700px) {

  .stars,
  .twinkling,
  .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 360vh;
    display: block;
  }
}